# ---------------- Python ----------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---------------- Virtual env ----------------
.venv/
venv/
env/

# ---------------- Data files ----------------
data/
*.csv
*.parquet
*.feather

# ---------------- Notebooks ----------------
.ipynb_checkpoints/

# ---------------- Logs ----------------
logs/
*.log

# ---------------- OS ----------------
.DS_Store
Thumbs.db

# ---------------- Streamlit ----------------
.streamlit/

# ---------------- IDE ----------------
.vscode/
.idea/
